<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<%- include('./partials/head.ejs')%>
</head>
<body>
	<!-- Header -->
	<header class="main-header">
		
			<%- include('./partials/header.ejs')%>
		

	</header>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/banner_oficial.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let index = 0; index < productos.length; index++) {%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/product">
							<figure class="product-box_image">
								<img src='<%= productos[index].imgProd %>' alt='' height="250px" width="330px">
							</figure>
							<article class="product-box_data">
								<h2><%- productos[index].producto %></h2>
								<p><%- productos[index].descripcionProd%></p>
								<p>Comentarios: 9</p>
							</article>
						</a>
					</section>
				</div>
			<% }%>
			
	<!-- /Novedades -->
			
	<!-- /Más comentados -->


	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer.ejs') %>
	</footer>
	<!-- /footer -->
</body>	
</html>