<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<!-- Header -->
	<header class="main-header">
		<% if (logueado == "si") {%>
			<%- include('./partials/header-logueado.ejs', {user: usuarios})%>
		<%} 
		else{%>
			<%- include('./partials/header.ejs')%>
		<%}%> 

	</header>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let index = 0; index < lsProd.length; index++) {%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/product">
							<figure class="product-box_image">
								<img src='<%=lsProd[index].foto%>' alt='' height="250px" width="330px">
							</figure>
							<article class="product-box_data">
								<h2><%- lsProd[index].nombre %></h2>
								<p><%- lsProd[index].descripcion%></p>
								<p>Comentarios: 9</p>
							</article>
						</a>
					</section>
				</div>
				<% if(index==3){%>
					<% break%>
				<%}%>
			<% }%>
			
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let index = 4; index < lsProd.length; index++) {%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/product">
							<figure class="product-box_image">
								<img src='<%=lsProd[index].foto%>' alt='' height="250px" width="330px">
							</figure>
							<article class="product-box_data">
								<h2><%- lsProd[index].nombre %></h2>
								<p><%- lsProd[index].descripcion%></p>
								<p>Comentarios: 12</p>
							</article>
						</a>
					</section>
				</div>
				<% if(index==7){%>
					<% break%>
				<%}%>
			<% }%>
	<!-- /Más comentados -->


	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer.ejs') %>
	</footer>
	<!-- /footer -->
</body>	
</html>