<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head.ejs')%>
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/header-logueado.ejs')%>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<section class="form-login">
				<form action="/users/profile-edit/<%= usuario.id %>" method="post">
				<h4>Edita tu perfil</h4>
				<input class="casilla-login" type="email" name="email" id="email" placeholder="Email" value="<%= usuario.email %>" hidden>
				<input class="casilla-login" type="text" name="usuario" id="usuario" placeholder="Usuario" value="<%= usuario.usuario %>">
				<input class="casilla-login" type="password" name="contrasena" id="contrasena" placeholder="Contraseña">
				<input class="casilla-login" type="date" name="nacimiento" id="nacimiento" value="<%= usuario.fechaDeNacimiento %>">
				<input class="casilla-login" type="number" name="documento" id="documento" placeholder="Documento" value="<%= usuario.dni %>">
				<input class="casilla-login" type="text" name="foto-perfil" id="foto-perfil" placeholder="Foto de Perfil" value="<%= usuario.fotoDePerfil %>">
				<input class="botons" type="submit" name="submit" id="login" placeholder="login">
				</form>
			</section>

			<% if (locals.errors) { %>
				<p><%= errors.message %></p>
			<% } %>
	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer.ejs') %>
	</footer>
	<!-- /footer -->
</body>

</html>