<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<%- include('./partials/head.ejs')%>
</head>
<body>
	<!-- Header -->
	<header class="main-header">
		<% if (DatosUsuario != null) { %> 
			<%- include('./partials/header-Logueado.ejs')%>
		<% } else { %>
			<%- include('./partials/header.ejs')%>
		<% } %>
	</header>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%= usuario.fotoDePerfil %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<% if (DatosUsuario != null) { %>
						<% if (usuario.id == DatosUsuario.id) { %>
							<h1 class="main-title"><%= usuario.usuario %>
								<a href="/users/user-check/<%= usuario.id %>">
									<i class="fas fa-cog"></i>
								</a>
							</h1>
						<% } else {%>
							<a class="btn mt-3 ml-4" href="">SEGUIR</a>
					<% } } %>
					
					
					
				</div>
				<div>
					<ul class="">
						<li><%= usuario.email %></li>
						<li><%= lsProd.length %> productos</li>
						<li>2000 seguidores</li>
						<li><%= comentarios.length %> comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<% for (let index = 0; index < lsProd.length; index++) {%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/product/<%= lsProd[index].id %>">
							<figure class="product-box_image">
								<img src='<%=lsProd[index].imgProd%>' alt='' height="250px" width="330px">
							</figure>
							<article class="product-box_data">
								<h2><%- lsProd[index].producto %></h2>
								<p><%- lsProd[index].descripcionProd%></p>
								<p>Comentarios: 12</p>
							</article>
						</a>
					</section>
				</div>
			<% }%>
			
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer.ejs') %>
	</footer>
	<!-- /footer -->
</body>	
</html>